#pro{
    border: 0px solid green;


}
#pro>img{
    width: 80%;
    border: 0px solid blue;
    padding: 10px;
}
#main{
        border: 1px solid rgb(128, 0, 0);
    width: 90%;
    margin: 50px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}

/* Default styles for all themes */


/* Styles for the light theme */
.theme{
  background-color: white;
  color: black;
}

/* Styles for the dark theme */
.theme{
  background-color: black;
  color: white;
}
